<% provide(:title, "Top") %>
<div class="jumbotron">
  <h1>勤怠システム</h1>
  
  <center>
    <%= link_to "ログイン", login_path, class: "btn btn-lg btn-primary" %><br>
  <p> アカウントの作成は<%= link_to "こちら", signup_path, class: "text-primary" %>から</p> 
  </center>
</div>
